.layui-footer {
    text-align: center;
    font-size: 12px;
}

.layui-icon-app {
    margin-right: 5px;
    margin-left: 20px;
}

iframe {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
}

.layui-body {
    overflow: hidden;
}

.userinfo {
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    text-align: center;
    /* 禁止文本选择 */
    user-select: none;
}

/* .layui-side-scroll>.userinfo {
    border-top: 1px solid #282b33;
} */
.layui-logo {
    border-bottom: 1px solid #282b33;
    box-sizing: border-box;
}

.layui-nav-img {
    width: 40px;
    height: 40px;
}

.text-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #009688;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    position: relative;
    top: 1px;
    margin-right: 10px;
}

.icon-tuichu {
    font-size: 15px;
    margin: 5px;
}